*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  vertical-align: top;
}

body{
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
}
section{
  width: 100%;
  background-color: hsl(185, 75%, 39%);
  min-height:100vh;
  position: relative;
  overflow: hidden;

}

.bg_img_1, .bg_img_2{
  width: 60%;
  position: absolute;
  z-index: 1;
}

.bg_img_1 img, .bg_img_2 img{
  width: 100%;
}

.bg_img_1{
  transform: translateY(-50%);
  right: 50%;
  top: 0;
}
.bg_img_2{
  transform: translateY(50%);
  bottom: 0;
  left: 50%;
}

.card{
  position: absolute;
	z-index:2;
	background:#fff;
	border-radius:1em;
	box-shadow:0 4rem 5rem rgba(0,0,0,.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	max-width:min(600px, 94%);

}

.card div{
  width: 100%;
}


.bg-card-img{
  background-size: cover;
  background-position: center center;
  border-radius: 1em 1em 0 0;
  width: 22rem;
  height: 8.5em;
  background-image: url(images/bg-pattern-card.svg);
}
